fastapi
uvicorn[standard]
uvloop
httptools

aiohttp
aiofiles
aiosignal
aiohappyeyeballs
multidict
frozenlist
yarl
propcache

httpx
httpcore
requests
urllib3

pydantic
pydantic_core
annotated-types
typing_extensions
typing-inspection

playwright

python-multipart
python-dotenv

beautifulsoup4
soupsieve
fake-useragent

cryptography
bcrypt
passlib
python-jose
jwt
rsa
ecdsa

SQLAlchemy
alembic
asyncpg

APScheduler
tzlocal
tzdata

psutil
PyYAML
packaging

aiogram
python-telegram-bot
telethon

watchfiles
websockets
gunicorn

dnspython
email-validator
phonenumbers

Jinja2
MarkupSafe
Werkzeug
itsdangerous
blinker

certifi
charset-normalizer
idna
click
colorama
attrs
anyio
sniffio
h11
greenlet
Mako
six
pyasn1
pycparser
cffi

pyngrok
ExifRead
magic-filter
jose
discord